@charset "UTF-8";
/* CSS Document */
@import url("default.css");
#box-filters {
	width: 718px;
	border-bottom: #000 solid 4px;
	padding: 10px;
	float: left;
}
#box-filters .location {
	padding: 12px 0 0 0;
	float: left;
}
#box-filters .date {
	width: 90px;
	padding: 0 20px;
	font-family: Arial;
	font-size: 10px;
	float: left;
}
#box-filters .date input[type="text"] {
	width: 100%;
	border: 0;
	font-family: Arial;
	font-size: 11px;
	border-bottom: #dedede dotted 1px;
}
#box-filters .clearFilters {
	padding: 12px 10px 0 10px;
	cursor: pointer;
	float: left;
}
#box-comingsoon {
	width: 100%;
	padding: 20px 0 0 0;
	float: left;
	position: relative;
}
#box-comingsoon h2 {
	width: 100%;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 24px;
	padding: 50px 0 15px 0;
	margin: 0;
	color: #57d2e1;
	clear: both;
}
#box-comingsoon span {
	width: 100%;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 24px;
	color: #ff8079;
	border-bottom: #000 solid 4px;
	float: left;
}
#box-comingsoon ul, #box-comingsoon h2 {
	display: none;
}
#box-comingsoon ul {
	width: 100%;
	list-style: none;
	margin: 0 0 0 0;
	padding: 0 0 0 10px;
	float: left;
}
#box-comingsoon ul li {
	width: 98.7%;
	padding: 10px 0 10px 0;
	border-bottom: #000000 dotted 1px;
	float: left;
}
#box-comingsoon ul li div {
	margin: 0 10px 0 0;
	padding: 0 0 3px 0;
	float: left;
}
#box-comingsoon ul li .calendar {
	width: 110px;
	float: left;
}
#box-comingsoon ul li div .date {
	font-family: tahoma;
	font-size: 12px;
	font-weight: 800;
	clear: both;
}
#box-comingsoon ul li div .month {
	font-family: "Arial", Gadget, sans-serif;
	font-size: 10px;
	clear: both;
}
#box-comingsoon ul li div .location {
	background: url(../images/home/icon-location.jpg) no-repeat 0 0;
	font-family: tahoma;
	font-size: 10px;
	padding: 0 0 0 12px;
	color: #666;
	clear: both;
}
#box-comingsoon ul li div .title {
	width: 360px;
	font-family: tahoma;
	font-size: 12px;
	font-weight: 800;
	clear: both;
}
#box-comingsoon ul li div .details {
	width: 360px;
	font-family: Arial;
	font-size: 12px;
	clear: both;
}
#box-comingsoon .box-content {
	width: 72.6%;
	margin: 0;
	padding: 0;
	position: relative;
}
#box-comingsoon .box-content .language {
	width: 70px;
	font-family: Arial;
	font-size: 11px;
	text-align: right;
	position: absolute;
	margin: 0;
	padding: 0 3px;
	right: 80px;
	bottom: 3px;
}
#box-comingsoon .btn-details {
	position: absolute;
	list-style: none;
	right: 0;
	bottom: 6px;
	margin: 0 !important;
	padding: 0 !important;
}
#box-comingsoon .btn-details a {
	width: 72px;
	height: 24px;
	background: url(../images/home/btn-details.jpg) no-repeat 0 0;
	float: left;
}
#box-comingsoon .btn-details a:hover {
	background: url(../images/home/btn-details-o.jpg) no-repeat 0 0;
}
#loadMore {
	width: 728px;
	background: #e3e3e3;
	color: 848484;
	cursor: pointer;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 16px;
	text-align: center;
	padding: 10px 0;
	margin: 15px 0 0 10px;
	transition: all 300ms ease-in;
	float: left;
}
#loadMore:hover {
	color: #fff;
	background: #000;
}
/**********************************************************/
#col-left {
	width: 482px;
	height: auto;
	float: left;
}
#box-news {
	width: 462px;
	height: auto;
	float: left;
	padding: 20px 10px;
	background: url(../images/shared/dot.gif) repeat-x bottom;
}
#box-news .date {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
}
#box-news .title {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 16px;
	color: #000;
	text-decoration: none;
	line-height: 1.2;
}
#box-news .pic-news {
	width: 364px;
	height: auto;
	float: left;
}
#box-news .description {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	color: #010101;
}
#signature {
	width: 482px;
	height: 107px;
	float: left;
	padding: 30px 0 0 0;
}
#col-left .box-news {
	float: left;
}
#col-left .box-news ul {
	width: 472px;
	list-style: none;
	margin: 0;
	padding: 0 0 30px 10px;
	float: left;
}
#col-left .box-news li {
	width: 472px;
	margin: 0;
	padding: 28px 0;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	background: url(../images/shared/dot.gif) repeat-x bottom;
}
#col-left .box-news li a {
	margin: 0;
	padding: 0;
	float: left;
	text-decoration: none;
}
#col-left .box-news li a img {
	margin: 0;
	padding: 0 10px 0 0;
	float: left;
}
#col-left .box-news li a .title {
	width: 400px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 12px;
	color: #57d2e1;
	float: left;
}
#col-left .box-news li a .detial {
	width: 400px;
	font-size: 12px;
	color: #666666;
	float: left;
}
#col-left .box-news li a .date {
	width: 400px;
	font-size: 11px;
	color: #999999;
	float: left;
}
.btn-back a {
	width: 71px;
	height: 24px;
	float: right;
	background: url(../images/news/btn-back.jpg) no-repeat 0 0;
}
.btn-back a:hover {
	width: 71px;
	height: 24px;
	float: right;
	background: url(../images/news/btn-back-o.jpg) no-repeat 0 0;
}
/****************************************************/
#col-right {
	width: 236px;
	height: auto;
	float: left;
	padding: 0 0 0 20px;
}
#col-right span {
	width: 100%;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 18px;
	color: #000;
	padding: 18px 0 0 0;
	border-bottom: #000 solid 4px;
	float: left;
}
#col-right ul.iconlist {
	display: block;
	list-style: none;
	padding: 0 0 20px 0;
	margin: 0;
	background: #ececec;
	float: left;
}
#col-right ul.iconlist > li {
	width: 75%;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 12px;
	border-bottom: none;
	padding: 20px 10px 13px 50px;
	float: left;
}
#col-right ul.iconlist > li.calendar {
	background: url(../images/news/icon-calendar.png) no-repeat 14px 14px !important;
}
#col-right ul.iconlist > li.time {
	background: url(../images/news/icon-clock.png) no-repeat 14px 14px;
}
#col-right ul.iconlist > li.speak {
	background: url(../images/news/icon-speak.png) no-repeat 14px 14px;
}
#col-right ul.iconlist > li.map {
	background: url(../images/news/icon-map.png) no-repeat 14px 14px;
}
#col-right ul.iconlist > li.location {
	background: url(../images/news/icon-location.png) no-repeat 14px 14px;
}
.btn-savethedate {
	width: 100%;
	height: 42px;
	background: url(../images/news/btn-savethedate.jpg) no-repeat 0 0;
	margin: 5px 0 0 0;
	cursor: pointer;
	float: left;
}
.btn-savethedate:hover {
	background: url(../images/news/btn-savethedate-o.jpg) no-repeat 0 0;
}
.btn-sendyourfriend {
	width: 100%;
	height: 42px;
	background: url(../images/news/btn-sendyourfriend.jpg) no-repeat 0 0;
	margin: 5px 0 0 0;
	cursor: pointer;
	float: left;
}
.btn-sendyourfriend:hover {
	background: url(../images/news/btn-sendyourfriend-o.jpg) no-repeat 0 0;
}
.atcb-list, .atcb-item {
	background: #ff8079 !important;
}
.atcb-list {
	width: 69% !important;
	top: 80% !important;
	margin-left: 50px !important;
	border-radius: 6px;
}
.atcb-list li {
	padding: 0 0 0 35px;
}
.atcb-item-link {
	padding: 0 5px;
}
/*********************** Trophy *****************************/
#box-trophy {
	width: 100%;
	padding: 20px 0 60px 0;
	float: left;
	position: relative;
}
#box-trophy h2 {
	width: 100%;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 24px;
	padding: 50px 0 15px 0;
	margin: 0;
	color: #57d2e1;
	clear: both;
}
#box-trophy > span {
	width: 100%;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 24px;
	color: #ff8079;
	border-bottom: #000 solid 4px;
	float: left;
}
#box-trophy .title {
	padding: 45px 0 25px;
	font-family: arial;
	font-size: 16px;
	color: #666;
	text-transform: uppercase;
	text-align: center;
	clear: both;
}
ul.trophy {
	width:100%;
	list-style: none;
	padding: 0;
	margin: 0;
	border-bottom:#000 dotted 1px;
	float: left;
}
ul.trophy.noBorder {
	border:none;
}
ul.trophy li {
	width:125px;
	margin:0 78px 25px 0;
	float: left;
}
ul.trophy li:nth-child(4n){
	margin:0;
}
ul.trophy li a {	
	float: left;
}
ul.trophy li span {
	width:100%;
	height:40px;
	padding:15px 0 0 0;
	font:14px arial;
	text-align:center;
	float:left;
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
